<div class="pratim">
    <form (ngSubmit)="onSubmit2(c)" #c="ngForm">
        
        <div class="_notice" [style.display]="noticeText">
            <div class="_notice__background"></div>
            <div class="_notice__text">
                <div class="header">
                    במסך זה מוצגים שדות למילוי פרטיכם האישיים, יש למלא את כל השדות.
                </div>                    
                <div class="content">
                    שימו לב, אם יצאתם מהטופס ולא בצעתם שמירה הנתונים ימחקו מהמערכת.
                </div>
            </div>
            <div class="hide" (click)="hidePopup()">הסתר</div>
        </div>
        <div class="wedge">
            <div class="topic-title">
                פרטים אישיים
            </div>
            <div class="buttons">
                <button class="save" type="form">שמירה</button>
                <button class="save-and-continue" (click)="ok()">שמור והמשך</button>
            </div>
        </div>
        <div class="content">
            <div class="right-first">
                <div class="title">פרטים מזהים</div>
                <div class="__wedge"></div>
                <div class="form row">
                    
                    <div class="col-md-3 texts">
                        <div class="text">
                            <div class="text-content">מספר זהות</div>
                        </div>
                        <div class="text">
                            <div class="text-content">שם פרטי</div>
                        </div>
                        <div class="text">
                            <div class="text-content">שם משפחה</div>
                        </div>
                        <div class="text">
                            <div class="text-content">שם משפחה קודם</div>
                        </div>
                        <div class="text">
                            <div class="text-content">שנת לידה</div>
                        </div>
                    </div>
                    <div class="col-md-9 inputs">
                        <div class="input1">
                            <input value="" ngModel name="idNumber">
                        </div>
                        <div class="input1">
                            <input value="" ngModel name="firstName">
                        </div>
                        <div class="input1">
                            <input value="" ngModel name="lastName">
                        </div>
                        <div class="input1">
                            <input value="" ngModel name="previousLastName">
                        </div>
                        <div class="input1" >
                            <input value="" ngModel name="birthYear">
                        </div>
                    </div>
                </div>
            </div>
            <div class="vertical-wedge"></div>
            <div class="left-first">
                <div class="instructions">
                    <div class="text1">
                        בפרק "המסמכים" תתבקש/י לצרף צילום ת"ז
                    </div>
                    <div class="text2">
                        בפרק "המסמכים" תתבקש/י לצרף תצלום ספח ת"ז
                    </div>
                </div>
            </div>     
        </div>
        <div class="content-wedge"></div>
        <div class="content-second">
            <div class="right-second">
                <div class="second__wedge"></div>
                <div class="form row">
                    <div class="col-md-3 texts">
                        <div class="text">
                            <div class="text-content">מין הסטודנט</div>
                        </div>
                        
                    </div>
                    <div class="col-md-9 inputs">
                        <div class="input1">
                            <input value="" ngModel name="gender">
                        </div>
                    </div>
                </div>
            </div>
            <div class="wedge-second"></div>
            <div class="left-second"></div>
        </div>
    </form>
</div>
