<div>
    <div class="main-panel">
        <div class="overhead">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <img class="logo-img" style="display:block; margin-left: auto; margin-right: auto;" src="assets/img/ono_logo.png">
                </div>
            </div>
        </div>
        <div class="overhead-router-wedge" style="height: 20px; width: 100%; text-align: center;"></div>
        <router-outlet><!---LOGIN-LAYOUT-PAGE-CONTENT---></router-outlet> 
    </div>
</div>