<div class="mismahim">
    <form>
        <div class="_notice" [style.display]="noticeText">
            <div class="_notice__background"></div>
            <div class="_notice__text">
                <div class="header">
                    במסך זה מוצגים שדות למילוי פרטיכם האישיים, יש למלא את כל השדות.
                </div>                    
                <div class="content">
                    שימו לב, אם יצאתם מהטופס ולא בצעתם שמירה הנתונים ימחקו מהמערכת.
                </div>
            </div>
            <div class="hide" (click)="hidePopup()">הסתר</div>
        </div>
        <div class="wedge">
            <div class="topic-title">
                מסמכים
            </div>
            <div class="buttons">
                <button class="save" type="form">שמירה</button>
                <button class="save-and-continue" (click)="ok()">שמור והמשך</button>
            </div>
        </div>
        <div class="content">
            <div class="right" style="height: 220px;">
                
            </div>
            <div class="vertical-wedge"></div>
            <div class="left" style="height: 220px;"> 
            </div>
        </div>
        <div class="c-wedge"></div>
        <div class="content">
            <div class="right" style="height: 220px;">
            </div>
            <div class="vertical-wedge"></div>
            <div class="left" style="height: 220px;"> 
            </div>
        </div>
        <div class="c-wedge"></div>
        <div class="content">
            <div class="right" style="height: 220px;">
            </div>
            <div class="vertical-wedge"></div>
            <div class="left" style="height: 220px;"> 
            </div>
        </div>
    </form>
</div>
