<div class="contact-us">
    <div class="landing-notice" style="background-color: rgb(236, 233, 233); height: 120px; width: 100%;  padding-top: 20px; padding-right: 15px;">
        <div class="title" style="font-weight: bold;">סטודנטים יקרים,</div>
        <div class="desc" style="width: 75%; font-size: 15px">לרשותכם מערכת ניהול מאובטחת המאפשרת הרשמה מקוונת להגשת מועמדות לקבלת מלגה מאגודת הסטודנטים הקריה האקדמית אונו.
            אגודת הסטודנטים בקריה האקדמית אונו הינה עמותה רשומה, שהוקמה מתוך מטרה לפעול למען ציבור הסטודנטים בקריה האקדמית בתחומים חברתיים כלכליים ותרבותיים .</div>
    </div>
    <div class="landing-wedge" style="width: 100%; height: 20px;"></div>
    <div class="landing-action" style="height: 405px; width: 100%; margin-left: auto; margin-right: auto">
        <div class="landing-action" style="background-color: rgb(236, 233, 233); width: 100%; height: 355px; padding-top: 5px; padding-right: 10px;">
            <div class="title" style="font-weight: bold; text-align: center; font-size: 23px;">צור קשר</div>
            <div class="landing-action__wedge" style="width: 100%; height: 10px;"></div>
            <form (ngSubmit)="onSubmit(c)" class="contact-us__form form block" #c="ngForm" id="contactForm" dir="rtl" >
                <div class="input1" style="margin-top: 13px; ">
                    <input placeholder="ת.ז." style="width: 170px; margin-left: auto; margin-right: auto; display: block;"/>
                </div>
                <div class="input1" style="margin-top: 13px; ">
                    <input placeholder="שם פרטי" style="width: 170px; margin-left: auto; margin-right: auto; display: block;"/>
                </div>
                <div class="input1" style="margin-top: 13px; ">
                    <input placeholder="שם משפחה" style="width: 170px; margin-left: auto; margin-right: auto; display: block;"/>
                </div>
                <div class="input1" style="margin-top: 13px; ">
                    <input placeholder="טלפון" style="width: 170px; margin-left: auto; margin-right: auto; display: block;"/>
                </div>
                <div class="input1" style="margin-top: 13px; ">
                    <input placeholder="" style="width: 170px; height: 60px; margin-left: auto; margin-right: auto; display: block;">
                </div>
                
                <button id="formSubmit" (click)="onSubmit(c)" type="submit" style="margin-top: 20px; width: 165px; margin-left: auto; margin-right: auto; display: block; background-color: rgb(105, 105, 245); color:white;">שלח</button>
            </form>
        </div>
        <div class="landing-action__wedge" style="width:100%; height:5px;"></div>
        <button class="landing-action__button" style="background: rgb(22, 22, 65); width: 100%; height: 40px; text-align: right; padding: 0px;" routerLink="/landing">
            <div class="landing-action__button__text" style="color:white; height:100%; width:90%; font-size: 20px; padding-right: 13px; padding-top: 3px; display: inline-block;">חזרה לדף הראשי</div>
            <span class="landing-action__button__carrot" style="display: inline-block; width: 10%; color: white; text-align: left; padding-left: 18px; font-size: 20px;">>></span>
        </button>
        

    </div>
</div>